.wrapper {
    display: flex;
}

#main-section {
    overflow: hidden; /* Makee this div contain its floated children */
    width: 100%;
}

#sidebar {
    margin-top: 2em;
    float: left; /* Make this div as wide as its contents */
    min-height: 96vh;
    padding-left: 1em;
    padding-top: 3em;
    padding-right:1em;
    border-right: 0.5px solid #E7D8EA;
}

#sidebar p {
    padding-left: 2em;
    padding-right:2em;
}

#sidebar p:hover {
    background-color:#487B98 ;
}

#sidebar h4 {padding-left: 0.5em;}


#sidebar.view-sidebar {display: none;}

#show-sidebar-button {
    visibility: visible;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: #335177;
}

@media (max-width: 2000px) {
    #sidebar {
        display: none;
    }

    #sidebar.view-sidebar {
        display: block;
    }

    #show-sidebar-button {
        visibility: visible;
        opacity: 1;
    }
}


.cursor-pointer {
    cursor: pointer;
}

#rightside-pannel {
    overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */
}

#display-message-section {
    margin-top: 5em;
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: auto; /*Make  this section scrolable */
}

#input-area {
    padding-left: 1em;
    padding-right: 1em;
    bottom: 0;
}

input[type=text]:focus{
    border-color:#E7D8EA ;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #487B98;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.others-msg {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
    margin-bottom: 10px;
    float: left; /* Align incoming messages to the left */
    clear: both;
    max-width: 500px;
    word-wrap: break-word;
    display: inline-block; /* Allow the box to adjust its size based on content */
}

.my-msg {
    background-color: #d5a8de;
    color: #000000; /* Set text color to white */
    background-image: #487B98;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
    margin-bottom: 10px;
    float: right; /* Align outgoing messages to the right */
    clear: both;
    max-width: 500px;
    word-wrap: break-word;
    display: inline-block; /* Allow the box to adjust its size based on content */
}


.system-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #487B98;
    font-size:0.9em;
}

.timestamp {
    color: #487B98;
    font-size: 1em solid;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #206ED2;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #487B98;
}

#msg-input {
    border-color: #E7D8EA;
    border-width: 5px;
}

#get-username {
    display: none !important;
}
#user_message {
    flex: 3;
    margin-right: 10px;
    resize: vertical; /* Allow vertical resizing of the textarea */
}
.imageicon {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}
#image_upload {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.utility-group {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}


ul li.emoji-selector {
    display: none; /* Hide the emoji selector by default */
    //*border: 1px solid #e00c0c; /* Add a border around the emoji selector */
    //*border-radius: 5px; /* Add border-radius for rounded corners */
    //*padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in the total width and height */

}


/* Styles for the emoji selector when it's active */
ul li.emoji-selector.active {
    display: block; /* Show the emoji selector when active */
    /*transform: translateY(-200px);*/
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 250px;
    width: 250px;
}

/* Style for the emoji list container */
ul li.emoji-selector ul.emoji-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto;
     /* Align the list with the left side of the input container */
    width: 100%; /* Make the list width match the input container */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure the list appears above other elements */
}

/* Style for individual emoji items */
ul li.emoji-selector ul.emoji-list li {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

/* Style for the search input */
ul li.emoji-selector .input-container {
    padding-bottom: 10px;
    background-color: #ecf0f5;
    border-radius: 50px 50px 0px 0px;
}

#emojiSelectorIcon {
    font-size: 28px; /* Adjust the font size as needed */
    cursor: pointer;
}

/* Style for the search input field */
ul li.emoji-selector .input-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: text; /* Set cursor to text for better indication */
}


/* Style for room container */
.room-container {
    font-style: 1em;
    list-style-type: none;
}


/* Style for room items on hover */
#roomsList li:hover {
    background-color: #d5a8de;
     /* Change background color on hover */
}

#roomsList li {
    font-style: 1em;
    list-style-type: none;
}

/* Style for newly added room */
#roomsList li#{{ room.name }} {
    font-style: 1em;
    list-style-type: none;
}
#show_create_input,
#show_delete_input {
    background-color: #d5a8de; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

#show_create_input:hover,
#show_delete_input:hover {
    background-color: #d5a8de; 
}
 

