body {
    background: #FFF;
    margin:0 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;lay: flex;
    
}
#icon-container {
    margin-top: 20%;

}
#icon-container,
#welcome-message,
#button-container {
    margin: 30px;
}
#home-chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#home-chat {
    max-width: 80%; /* Ensure the image doesn't exceed its container */
    max-height: 60vh; 
}

.button {
    background-color: #EFD7ED;
    color: #487B98;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration-line: none;
    width: 350px;
    height: 60px;
}

#welcome-message {
    color: #487B98;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 299px;
    height: 97px;
    flex-shrink: 0;
}
@media (max-width: 768px) {
    form {
        width: 90%; /* Adjust the width for smaller screens */
    }
}